html{
    font-family: calibri;
}

body{
    margin:0;
    padding:0;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

table{
    margin-left: 5%;
}

h1{
    font-size: 40pt;
}

h3{
    padding-top: 20px;
}

h6{
    text-align: center;
    margin-top: 20px;
}

p{
    font-size: 16pt;
    margin-left: 4%;
}

li{
    font-size: 20pt;
    list-style: none ;
}


.headerBar{
    background-color: rgb(159, 221, 245);
    margin-bottom: 0.5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
}

.headerText{
    margin-left: 50px;
}

.selfie{
    max-width: 250px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.btn-info{
    width: 33%
}

.goals{
    margin-top: 20px;
    margin-left: 4%;
}

.socials{
    display: flex;
    justify-content: center;
    max-height: 50px;
    position: relative;
    bottom: 10px;
    justify-content: center ;
}

.imgTiny{
    max-height: 50px;
    max-width: 50px;
    margin: 0 10px 0 10px;
}

.copyright{
    position: relative;
    bottom: 20px;
}

.container{
    display: grid;
    max-width: 87%;
    margin: 0% 10% 0% 7%;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 6fr;
    grid-template-areas:
    "popOS popOSText popOSText"
    "fedora fedoraText fedoraText"
    "vsCode vsCodeText vsCodeText"; 
}

.popOS{
    grid-area: popOS;
    justify-self:left;
    max-height: 150px;
}

.popOSText{
    grid-area: popOSText;
    justify-self: start;
    align-self: center;
    max-width: 65%;
}

.fedora{
    grid-area: fedora;
    justify-self: start;
    align-self: center;
    max-height: 150px;
}

.fedoraText{
    grid-area: fedoraText;
    justify-self: start;
    align-self: center;
    max-width: 65%;
}

.vsCode{
    grid-area: vsCode;
    justify-self: start;
    align-self: center;
    max-height: 150px;
}

.vsCodeText{
    grid-area: vsCodeText;
    justify-self: start;
    align-self: center;
    max-width: 65%;
}